  <div id='home_background'>
    <header class='cf'>
      <div class="wrapper_wide">

      </div>

    </header>
  
    <div class="wrapper_skinny">
      <h1>Together, <br /> let's discover the world!</h1>

      <%= link_to "Explore", posts_path,class: "button button_highlight" %>
      <%= link_to "Get Started", new_user_registration_path, class: "button button_highlight" %>
    </div>
  </div>

  <div class="main" id="theGrid" >
    <section class="grid">
      <% @posts.each do |post| %>
        <%= link_to (image_tag post.cover_photo), post, class: "grid_item" %>
        <h2 class="title title--preview"><%= link_to post.title, post %></h2>
        <span class="category"><%= post.intro %></span>
        <p> By <%= post.user.full_name %></p>
        <div class="meta meta--preview">
          
          <span class="meta_read-time"><i class="fa fa-clock-o"></i>Reading Time Code</span>
        </div>
      <% end %>
  </div><!-- /main -->