<div id="posts">
		<div class="post">
				<% @posts.each do |post| %>
					<div class="post_list">
					<%= image_tag post.cover_photo.url(:medium), class: 'post_image' %> 
					<div class="post_content">
							<div class="postlist_content">
								<h2><%= link_to post.title, post %></h2>
								<div class="postlist_contentintro"><%= post.intro %></div>
								<div class="post_details">
								<strong><%= post.user.full_name %></strong> · <%= post.created_at.strftime("%b %d, %Y") %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
		</div>
	</div>
</div>