<div class='post_wrapper'>
    <%= simple_form_for @post do |f| %>
    <%= f.input :cover_photo %>
    <%= f.input :title, placeholder: 'Title of your story', :class => 'post_title', label: false %>
    <%= f.input :intro, placeholder: 'Short Intro', :class => 'post_intro', label: false %>
    <p>By <%= current_user.full_name %>
    <%= f.input :body, placeholder: 'Tell your story', :class => 'post_body', label: false, required: true %>

    <%= f.button :submit %>
<% end %>
</div>
  <script>
      $(function() {
          $('#post_body').froalaEditor()
      });
  </script>