<style media="screen">
  .cover_photo { background-image: url(<%= @post.cover_photo %>); }
</style>
	<div class="postheader">
	  <div class="cover_photo">
	  	<div class="title_intro">
		    <h1><i><%= @post.title %></i></h1>
		    <h2><%= @post.intro %></h2>
		    <p>By <%= @post.user.full_name %></p>
		  </div>
		</div>
	</div>
<div class="post_body">
  <%= simple_format(@post.body, {}, {:sanitize => false}) %>
  <% if @post.user == current_user %>
	  <%= link_to "Edit", edit_post_path(@post) %>
	  <%= link_to 'Delete', post_path(@post), :method => :delete, :data => {:confirm => 'Are you sure? This cannot be undone'} %>
	<% end %>
</div>
