<style media="screen">
  .cover_photo { background-image: url(<%= @post.cover_photo.url(:medium) %>); }
</style>
<div id="post_show">
	<div class="cover_photo">
		<%= render 'layouts/nav_white' %>
		<div class="post_header vertical-align">
			    <h1><%= @post.title %></h1>
			    <h2><%= @post.intro %></h2>
			    <p>By <%= @post.user.full_name %>
			    </p>

			    <% if @post.user == current_user %>
				  <%= link_to "Edit", edit_post_path(@post), class: 'button' %>
				  <%= link_to 'Delete', post_path(@post), :method => :delete, :data => {:confirm => 'Are you sure? This cannot be undone'}, class: 'button' %>
				<% end %>
			  </div>
			</div>
		</div>
	<div class="post_body">
	  <%= simple_format(@post.body, {}, {:sanitize => false}) %>
	</div>
</div>
