<header>
  <div id="logo">
      <%= link_to image_tag("sonderfly_logo_beta.png", size: '185x52'), root_path %>
  </div>
    <nav>
    <% if user_signed_in? %>
      <div class="float-right">
        <%= link_to "New Post", new_post_path, class: "button-color"%> | 
        <%= link_to "Sign Out", destroy_user_session_path,  class: "button-color", method: :delete %>
        </div>
    <% else %>
        <div class="float-right">
        <%= link_to "Join", new_user_registration_path, class: 'button-color' %> |
        <%= link_to "Log In", new_user_session_path, class: 'button-color' %>
        
        </div>   
    <% end %>
  </nav>
</header>