<div class="wrapper">
      <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
          <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
          <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
              <ul class="gn-menu">
                  <% if user_signed_in? %>
                    <li><p>Profile Photo</p></li>
                    <li><p> Users Full Name </p></li>
                    <li><%= link_to 'Dashboard', user_dashboard_path %></li>
                    <li><%= link_to 'New Post', new_post_path %></li>
                    <li><%= link_to 'Drafts', '#' %></li>
                    <li><%= link_to 'Bookmarks', '#'%></li>
                    <li><%= button_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
                 <% else %>
                    <li><%= link_to 'Explore', posts_path %></li>
                    <li><%= link_to 'Log in', new_user_session_path %></li>
                    <li><%= link_to 'Sign up', new_user_registration_path %></li>
                  <% end %>
                <ul>
                  <li><h2>SonderFly</h2></li>
                  <li><%= link_to 'About Sonderfly', static_pages_about_sonderfly_path %></li>
                  <li><%= link_to 'Guidelines', static_pages_guidelines_path %></li>
                </ul>
            </div><!-- /gn-scroller -->
          </nav>
        </li>
        <li><%= link_to "SonderfLY", root_path %></li>
        <li><li><%= link_to "EXPLORE", posts_path %></li></li>
      </ul>
</div><!-- /container -->
    
    <script>
      new gnMenu( document.getElementById( 'gn-menu' ) );
    </script>