<!DOCTYPE html>
<html>
<head>
  <title>Sonderfly</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<div id="sidebar">
      <%= link_to root_path do %>
       <%= image_tag "sonderfly_logo.png", id: "logo" %>
      <% end %>

    <ul>
      <% if user_signed_in? %>
        
          <li><button class="button"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></button></li>
          <% else %>
         <li><button class="button"><%= link_to 'Log in', new_user_session_path %></button></li>
          <li><button class="button"><%= link_to 'Sign up', new_user_registration_path %></button></li>
        <% end %>
    </ul>
    <ul>
      <% if user_signed_in? %>
        <li class="category"><%= link_to current_user.full_name,  edit_user_registration_path %></li>
      <div class="buttons">
        <li><button class="button"><%= link_to 'New Post', new_post_path %> </button></li>
      </div>
       <!-- <li><%= link_to 'My Posts', '#' %></li> -->
      <% end %>
    </ul>


<%= yield %>
<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

</body>
</html>
