<!DOCTYPE html>
<html>
<head>
  <title>Sonderfly</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render 'layouts/nav' %>

<%= yield %>

<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<footer>
	<%= link_to "About", static_pages_about_sonderfly_path %>
	<%= link_to "Guidelines", static_pages_guidelines_path %>
</footer>

</body>


</html>
